@font-face {
    font-family: 'Proxima Nova';
    src: url('../fontis/proxima-nova-condensed-light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fontis/proximanova_regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fontis/ProximaNovaSemibold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fontis/ProximaNovaBold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fontis/proximanova_extrabold.otf') format("opentype");
    font-weight: 800;
}